// Variables
@import 'variables';

body {
    background: #f4f4f4;
}

.border-red {
    border: 1px solid red;
}
.text-red {
    color: red;
}
.posts-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: auto;
    row-gap: 1rem;
    column-gap: 1rem;
    transition: all .3s ease;

    .picture {
        overflow: hidden;
    }

    .picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .4rem;
        transition: all .3s ease;


        &:hover {
            transform: rotate(-4deg) scale(1.1);
            transition: all .4s ease-out;
        }
    }
}


.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.post-single {
    max-width: 550px;

    img {
        width: 100%;
        height: 100%;
        border-radius: .4rem;
    }



    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .edit-links  {
            font-size: 80%;
            a {
                color: lighten(gray, 10%);

                position: relative;
                left: .5rem;
                &:hover {
                    color: #56cc9d;
                }
            }
            button {
                background: none;
                outline: none;
                border: none;
                color: gray;
                font-size: 90%;
                &:hover {
                    color: #56cc9d;
                }
            }

        }
    }

    .image-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
.remove {
    padding-right: 1rem;
}

.add-comment-form  {
    max-width: 550px;

}

.comments-list {
    max-width: 550px;
    padding: 0;
    list-style: none;
    margin-top: 2rem;

    li {
        margin-bottom: 2rem;
       border-bottom: 2px dashed lighten(gray, 25%);
    }
    .content {


        color: gray;
    }
    .meta {
        padding-bottom: .7rem;
        padding-top: .5rem;
        font-size: .9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


        time {
            margin-left: .5rem;
        }

        .edit-comment {
            font-size: .8rem;
        }

    }
}
